* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: 'Arial';
  font-weight: normal;
  font-size: 16px;
  color: #595959;

  --accent-color: #ff5400;

  --side-bar-expanded-width: 18em;
  --side-bar-collapsed-width: 3em;
}

/* GENERIC STYLES */

input {
  padding: 0.5em 0.75em;
  background-color: white;
  border: solid 1px #d7d7d7;
  border-radius: 3px;
  box-sizing: border-box;
}

/* LOGO */

#logo {
  transition: color 0.2s;
  cursor: pointer;
}

#logo:hover {
  color: var(--accent-color);
}

/* SIDE BAR STYLES */

#sideBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--side-bar-expanded-width);
  background-color: #fafafa;
  border-bottom: solid 1px #d7d7d7;
  text-align: center;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#sideBar > h1 {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

#sideBar > h2 {
  margin-top: 0.25em;
  color: #999;
}

#songBankFilters {
  padding: 1em;
}

#songBankFilterInput {
  width: 100%;
}

#songBankCount {
  font-size: 0.95em;
}

#songBankList {
  position: absolute;
  top: 11em;
  bottom: 0;
  overflow: auto;
  width: 100%;
  border-top: solid 1px #d7d7d7;
}

.song-list-item {
  transition: background-color 0.2s;
  cursor: pointer;
  margin-top: -1px;
  padding: 1em;
  text-align: left;
  background-color: white;
  border-top: solid 1px #d7d7d7;
  border-bottom: solid 1px #d7d7d7;
}

.song-list-item:first-child {
  margin-top: 0;
  border-top: none;
}

.song-list-item:hover {
  background-color: #e5f1f7;
}

.song-list-item-frame-count {
  margin-bottom: 0.25em;
  color: var(--accent-color);
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
}

.song-list-item-title {
  font-size: 1.1em;
  font-weight: bold;
}

.song-list-artist {
  margin: 0.25em 0;
}

.song-list-item-subtitle {
  color: #999;
}

.song-list-item-style {
  margin: 0.25em 0;
  color: #595959;
}

/* SIDE BAR STYLES INITIAL STATE */

#sideBar.initial-state {
  z-index: 1000;
  width: 100%;
  background: white;
}

#sideBar.initial-state #songBankFilterInput {
  min-width: 20em;
  max-width: 25vw;
}

#sideBar.initial-state #songBankList {
  overflow: auto;
  padding: 2em;
}

#sideBar.initial-state .song-list-item {
  transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
  transition-timing-function: ease-in-out;
  float: left;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: calc(25vw - 5.125em);
  height: 10em;
  margin: 1em;
  background-color: #fafafa;
  border: solid 1px #d7d7d7;
  opacity: 0.8;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#sideBar.initial-state .song-list-item:hover {
  transform: scale(1.02);
  opacity: 1;
  background-color: #e5f1f7;
}

#sideBar.initial-state .song-list-item:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}

/* SONG PAGE STYLES */

#noSongSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2em;
  color: #999;
}

#songPageContainer {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--side-bar-expanded-width);
  right: 0;
  padding: 3em 2em 5em;
  box-sizing: border-box;
}

#songPageContainer.is-fullscreen {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

#fullscreenToggle, #filterToggle, #autoscrollToggle {
  user-select: none;
  cursor: pointer;
  float: right;
  margin-left: 1em;
}

#filterToggle {
  float: left;
}

#fullscreenToggle:hover,
#filterToggle:hover,
#autoscrollToggle:hover {
  text-decoration: underline;
}

#header {
  margin: 0 auto;
  width: 50vw;
}

#info {
  margin-bottom: 1em;
  text-align: center;
}

#title {
  font-size: 2em;
  font-weight: bold;
}

#subtitle {
  margin: 0.5em 0;
  font-size: 1.25em;
  color: #999;
}

#details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.25em;
}

#details .left {
  text-align: left;
}

#details .right {
  text-align: right;
}

#artist, #tempo {
  font-weight: bold;
}

#frames {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  padding-top: 2em;
  text-align: center;
}

#frames.filtered {
  filter: contrast(1.2)saturate(0);
}

.frameWrap {
  overflow: hidden;
  position: relative;
}

.frameWrap > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

[hidden] {
  display: none !important;
}
